.dropdownContainer{
    background-color: #e9e5e5;
    width: 10rem;
    height:2.1em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1.5em;
    border-radius: 25px;
}
.dropdown{
    width: 10rem;
    margin: auto;
}
.value{
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 2.1em;
}
.subMenu{
    background-color:#ddd7d7;
    width: 10rem;
    position: absolute;
    border-radius: 25px;
}
.item{
    background-color: #f7f3f3(7, 211, 211);
    text-align: center;
    margin: 1%;
    padding: 0.5em;
    border-radius: 25px;
}
.item:hover{
    background-color:aliceblue;
    cursor: pointer;
    border-radius: 25px;
}